name: GitHub Actions Version Updater Test

on:
  workflow_dispatch: # Manual trigger
  schedule:          # Automatically run every Sunday
    - cron: "0 0 * * 0"

permissions:
  actions: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout the repository
      - uses: actions/checkout@v5.0.1
        with:
          token: ${{ secrets.GH_TOKEN }}

      # Run GitHub Actions Version Updater from your fork
      - name: Run GitHub Actions Version Updater
        uses: charl3y15/github-actions-version-updater@main #add-Docker-update
        with:
          token: ${{ secrets.GH_TOKEN }}
          skip_pull_request: "false"
          update_version_with: "release-tag"
          release_types: "all"
          pull_request_labels: "dependencies, automated"
          pull_request_branch: "actions-update"
